/* Agrupamento de inputs com label flutuante */
.inputGroup {
    position: relative;
    margin-bottom: 22px;
    width: 100%;
}

.inputGroup input {
    width: 100%;
    padding: 14px 12px;
    font-size: 16px;
    border: 1px solid #ccd6eb;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
    color: #171717;
    outline: none;
}

.inputGroup label {
    position: absolute;
    left: 12px;
    top:  50%;
    transform: translateY(-50%);
    padding: 0 4px;
    transition: 0.2s all;
    pointer-events: none;
    color: #666;
    background-color: transparent;
}

/* Se houver erro, o label vai para 35% (em vez de ir para o topo / 0px) */
.inputGroup.hasError label {
    top: 35%;
}

/* Animação do label flutuante ao focar ou preencher */
.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label {
    top: 0px;
    font-size: 13px;
    color: #0072ce;
    background-color: #fff;
}